n8n/workflow_webcal_refresh.json
{
  "name": "NexCyte Webcal Refresh",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 1
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Every Hour",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.NEXTJS_APP_URL }}/api/cron/webcal-refresh",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.WEBCAL_REFRESH_SECRET }}"
            }
          ]
        },
        "options": {
          "timeout": 60000
        }
      },
      "id": "http-request",
      "name": "Refresh Webcals",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        450,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.success }}",
              "value2": true
            }
          ]
        }
      },
      "id": "if-success",
      "name": "Check Success",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        650,
        300
      ]
    },
    {
      "parameters": {
        "content": "=Webcal sync completed:\n- Subscriptions: {{ $json.summary.total }}\n- Successful: {{ $json.summary.successful }}\n- Failed: {{ $json.summary.failed }}\n- Events added: {{ $json.summary.eventsAdded }}\n- Events updated: {{ $json.summary.eventsUpdated }}\n- Events deleted: {{ $json.summary.eventsDeleted }}",
        "options": {}
      },
      "id": "set-success",
      "name": "Log Success",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        850,
        200
      ]
    },
    {
      "parameters": {
        "content": "=Webcal sync failed: {{ $json.error }}",
        "options": {}
      },
      "id": "set-error",
      "name": "Log Error",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        850,
        400
      ]
    }
  ],
  "connections": {
    "Every Hour": {
      "main": [
        [
          {
            "node": "Refresh Webcals",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Refresh Webcals": {
      "main": [
        [
          {
            "node": "Check Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Success": {
      "main": [
        [
          {
            "node": "Log Success",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "scheduler"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2025-12-27T21:00:00.000Z",
  "versionId": "1"
}
